.navigation{
    background-color: brown;
    justify-content: space-around;
}
.navigation a{
    text-decoration: none;
    color: white;
}
.nav_link:hover{
    opacity: 0.5;
}
.navigation img{
    width: 75px;

}
.navigation p{
    margin-top: 20px;
}
.navigation_sub img{
    margin-left: 10px;
}
.navigation_sub p{
    margin-left: 10px;

}
.navigation p{
    font-size: 20px;
}
.login{
    margin-right: 30px;
}
.card
{
    width:324px;
}
.card img
{
    width:324px;
    height: 235px;
}
.homepage{
    display: flex;
    flex-grow: 3;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 9vw;
}
.center{
    justify-content: center;
}
.single_page img{
    height: 600px;
    width: 960px;
    
}
.single_description p{
    width: 960px;
}
.single_description h1{
    width: 960px;
}
a{
    text-decoration: none !important;
    color: black !important;
}